<h3><a href="https://pinboard.in/u:garyfleming">B-Links</a></h3>
<ul>

	
	<li><a href="https://hazelweakly.me/blog/stop-building-ai-tools-backwards/">Stop Building AI Tools Backwards</a></li>

	
	<li><a href="https://craigmod.com/essays/membership_rules/">My Rules for Running My Membership Program</a> - A very clear-headed take on running a membership program.</li>

	
	<li><a href="https://cafe.elharo.com/programming/different-styles-of-dependency-management/">Different Styles of Dependency Management</a></li>

	
	<li><a href="https://www.robinsloan.com/lab/is-it-okay/">Is it okay?</a> - Squaring up to the foundational question for language models.</li>

	
	<li><a href="https://www.scienceofpeople.com/power-vs-authority/">Power vs. Authority (And Why it Matters in The Workplace)</a> - An excellent overview of types of power we implicitly and explicitly hold, and how to use it for good.</li>

	
	<li><a href="https://gist.github.com/timothyham/dd003dbad5614b425a8325ec820fd785">A Short IPv6 Guide for Home IPv4 Admins</a> - Looks like a reasonable starting point.</li>

	
	<li><a href="https://blog.davidv.dev/posts/first-contact-with-k8s/">A skeptic's first contact with Kubernetes</a> - Solid guide to kubernetes basics</li>

	
	<li><a href="https://jackdanger.com/managing-underperformers/">Managing Underperformers</a> - Solid framework for managing underperformance in teams.</li>

	
	<li><a href="https://www.mindtheproduct.com/how-to-write-okrs-that-dont-suck-by-adrian-howard/">How to Write OKRs That Don't Suck</a> - Good overview of common OKR antipatterns</li>

	
	<li><a href="https://clig.dev/">Command Line Interface Guidelines</a> - Useful tips for better CLIs</li>

</ul>
