<nav>
  <h1><a href="/">Solitude</a></h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/assets/images/tree-160.jpg" id="solitude-logo" alt="Solitude logo"/>
    {% endif %}
  </a>
  <div id="bio">
    <p>{{ site.data.theme.tagline }}</p>
  </div>
  <nav>
    <ul>
      <li><a href="/about/">About</a></li>
      <li><a href="/Archives/">Archives</a></li>
    </ul>
  </nav>
  <div id="social">
    {% include social.html %}
  </div>
  {% if page.include_pinboard %}
    {% site_includes pinboard.html %}
  {% endif %}
</nav>
